 
    <div id="slider">

		<ul id="sliderContent">
		
			<li class="sliderImage">
				<img src="/assets/banner/1.jpg" />
				<span class="top"><h2><strong>This is an image title</strong></h2><br /><h2><strong>It Can Say Anything You Want</strong></h2><br />Lorem pellentesque habitant morbi tristique.<br />Estibulum erat wisi, condimentum, commodo <br />ornare sit wisi. Aenean fermentum, elit eget<br />tinciduntcondimentum.Vestibulum erat wisi<br />condimentum sed, commodo vitae, ornare <br />sit amet, wisi. Aenean fermentum, elit eget <br />tincidunt condimentum.</span>
			</li>
               
			<li class="sliderImage">
				<img src="/assets/banner/2.jpg" />
				<span class="top"><strong>This is an image title</strong><br />Lorem pellentesque habitant morbi tristique. Estibulum erat wisi, condimentum, commodo ornare sit wisi. Aenean fermentum, elit eget tinciduntcondimentum.Vestibulum erat wisi condimentum sed commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum.</span>
			</li>

			<li class="sliderImage">
				<img src="/assets/banner/3.jpg" />
				<span class="top"><strong>This is an image title</strong><br />Lorem pellentesque habitant morbi tristique.<br />Estibulum erat wisi, condimentum, commodo <br />ornare sit wisi. Aenean fermentum, elit eget<br />tinciduntcondimentum.Vestibulum erat wisi<br />condimentum sed, commodo vitae, ornare <br />sit amet, wisi. Aenean fermentum, elit eget <br />tincidunt condimentum.</span>
			</li>

			<li class="sliderImage">
				<img src="/assets/banner/4.jpg" />
				<span class="top"><strong>This is an image title</strong><br />Lorem pellentesque habitant morbi tristique.<br />Estibulum erat wisi, condimentum, commodo <br />ornare sit wisi. Aenean fermentum, elit eget<br />tinciduntcondimentum.Vestibulum erat wisi<br />condimentum sed, commodo vitae, ornare <br />sit amet, wisi. Aenean fermentum, elit eget <br />tincidunt condimentum.</span>
			</li>

			<div class="clear sliderImage"></div>
		</ul>
	
	</div>
          <div id="box5">
               <img src="/assets/icons/Home.png">
               <h2>About Us</h2>
               <p>We believe that intuitive and functional software are key to running a business quickly and efficiently. At SquareSuits we hand-code high quality cloud solutions that can keep even the largest of companies organized.</p>
          </div>

          <div id="box6">
               <img src="/assets/icons/Stationery.png">
               <h2>This is a box title</h2>
               <p>Lorem ipsum nun scelerisque ipsum nun scelerisque morbi risus necipsum nun scelerisque morbi risus nec ipsum nun scelerisque morbi risus nec morbi risus nec. Eget vulputate hendrerit par$
          </div>

     <div id="box1">
          <img src="/assets/icons/Home.png">
          <h2>This is box 1</h2>
          <p>Consectetuer justo scelerisque morbi risus nec. Eget vulputate hendrerit parturient, sapien erat, vivamus tristique in nisl fringilla.</p>

     
     <div id="box2">
          <img src="/assets/icons/Tools.png">
          <h2>This is box 2</h2>
          <p>Justo lorem ipsum nun scelerisque morbi risus nec. Eget vulputate hendrerit parturient, sapien erat, vivamus tristique in nisl fringilla.</p>
     </div>
     
     <div id="box3">
          <img src="/assets/icons/Computer.png">
          <h2>This is a box title</h2>
          <p>Lorem ipsum nun scelerisque morbi risus nec. Eget vulputate hendrerit parturient, sapien erat, vivamus tristique in nisl fringilla.</p>
     </div>
     
     <div id="box4">
          <img src="/assets/icons/Contact.png">
          <h2>This is a box title</h2>
          <p>Sectetuer justo lorem ipsum nun scelerisque morbi risus nec. Eget vulputate hendrerit parturient, sapien erat, vivamus tristique in nisl fringilla.</p>
     </div>

     
          <div id="box5">
               <img src="/assets/icons/Tip.png">
               <h2>This is a box title</h2>
               <p>Lorem ipsum nun scelerisque ipsum nun scelerisque morbi risus necipsum nun scelerisque morbi risus nec ipsum nun scelerisque morbi risus nec morbi risus nec. Eget vulputate hendrerit parturient, sapien erat, vivamus ipsum nun scelerisque morbi risus nec tristique in nisl fringilla.</p>
          </div>
          
          <div id="box6">
               <img src="/assets/icons/Stationery.png">
               <h2>This is a box title</h2>
               <p>Lorem ipsum nun scelerisque ipsum nun scelerisque morbi risus necipsum nun scelerisque morbi risus nec ipsum nun scelerisque morbi risus nec morbi risus nec. Eget vulputate hendrerit parturient, sapien erat, vivamus ipsum nun scelerisque morbi risus nec tristique in nisl fringilla.</p>
          </div>
             
     
