<!-- NAVBAR
================================================== -->
  <body style="background-image:url('assets/bg.jpg'); background-attachment: fixed; background-size:100%;">
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">SquareSuits</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Soul</a></li>
										<li class="divider"></li>
                    <li><a href="#">Sequence</a></li>
                    <li><a href="#">Finance</a></li>
										<!--
                    <li class="divider"></li>
                    <li class="dropdown-header">Overview</li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">How to buy</a></li>
										-->
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div style="border-bottom:solid; border-color:black; border-width:7px;" id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">

					<!--First slide-->
          <img src="assets/organize.jpg" alt="" style="height:500px; width:3500px;">
          <div class="container">
            <div class="carousel-caption slide1">
              <h1>SquareSuits</h1>
							<p>Stay Organized</p>
							<br />
              <p>Keep organized with SquareSuits' business solutions!</p>
							<br />
							<br />
            </div>
          </div>
        </div>

				<!--Second slide-->
        <div class="item">
          <img src="assets/clouds.jpg" alt="" style="height:500px;">
          <div class="container">
            <div class="carousel-caption slide2">
              <h1>The Cloud</h1>
							<br />
              <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
              <p>Every SquareSuits service backs your data up in the cloud insuring that your data is secure and protected.</p>
							<!--<p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>-->
							<br />
							<br />
            </div>
          </div>
        </div>

				<!--Third slide-->
        <div class="item">
          <img src="assets/code.png" alt="" style="height:500px;">
          <div class="container">
            <div class="carousel-caption slide3">
              <h1>100% hand-coded</h1>
							<br />
              <p>To keep our tools as responsive and bug-free as possible we refrain from using programs such as Dream Weaver to build content for us.</p>
							<br />
							<br />
            </div>
          </div>
        </div>
      </div>
      <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>-->
      <!--<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>-->
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing main">

      <!-- Three columns of text below the carousel -->
      <div class="row">

        <div class="col-lg-4">
          <img src="assets/icons/Home.png" alt="Generic placeholder image">
          <h2>SquareSuits</h2>
          <p>We believe that intuitive and functional software are key to running a business quickly and efficiently. At SquareSuits we hand-code high quality cloud solutions that can keep even the largest of companies organized.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img src="assets/icons/Web.png" alt="Generic placeholder image">
          <h2>Where You Want It</h2>
					<p>While it is often-times most simple to host the servers in the cloud where it is out of site, out of mind, and accessible from anywhere, sometimes you just need to host things locally. Downloadable versions of both software and server are also available for download.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img src="assets/icons/Help.png" alt="Generic placeholder image">
          <h2>Support</h2>
					<p>Ask Oliver</p>
          <!--<p>We believe that intuitive and functional software are key to running a business quickly and efficiently. At SquareSuits we hand-code high quality cloud solutions that can keep even the largest of companies organized.</p>-->
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->

      <div class="row">

        <div class="col-lg-4">
          <img src="assets/icons/Home.png" alt="Generic placeholder image">
          <h2>SquareSuits</h2>
          <p>We believe that intuitive and functional software are key to running a business quickly and efficiently. At SquareSuits we hand-code high quality cloud solutions that can keep even the largest of companies organized.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img src="assets/icons/Home.png" alt="Generic placeholder image">
          <h2>SquareSuits</h2>
          <p>We believe that intuitive and functional software are key to running a business quickly and efficiently. At SquareSuits we hand-code high quality cloud solutions that can keep even the largest of companies organized.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img src="assets/icons/Home.png" alt="Generic placeholder image">
          <h2>SquareSuits</h2>
          <p>We believe that intuitive and functional software are key to running a business quickly and efficiently. At SquareSuits we hand-code high quality cloud solutions that can keep even the largest of companies organized.</p>
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->

      <!-- FOOTER -->
      <footer>
        <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
        <p>&copy; 2013 SquareSuits <!--&middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>--></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
